body{
    background-image: url(./img/df3kllr-32b45386-cb0b-4d18-8614-d9c5c5349294.gif);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#form{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.blockForm{
    margin: 20px;
}

.blockForm label{
    font-size: 24px;
    font-weight: bold;
    color: #00f7ff;
    text-shadow: 2px 2px 2px red, 0 0 1px blue, 0 0 1px blue;
}

#form [type="text"]{
    font-size: 18px;
    font-style: unset;
    font-weight: bold;
    animation: back 1s ease-in-out infinite;
    border: 5px groove; 
    border-color: #ffffff #c5c5c5;
    box-shadow: 7px 5px 5px #000000;
}

textarea[type="text"]{
    box-sizing: content-box;
    padding: 10px;
    min-width: 250px;
    max-width: 300px;
    min-height: 100px;
    max-height: 150px;
}

textarea[type="text"]:focus{
    color:#ffffff;
}

input[type="text"]{
    padding: 20px;
    text-align: center;
}

#form [type="button"]{
    width: 150px;
    height: 25px;
    transition: width 1s, height 1s, font-size 1s;
    background-color: rgba(0, 0, 0, 0.651);
    border: 1px groove #ffffff;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#form [type="button"]:hover{
    width: 37%;
    height: 44px;
    font-size: 16px;
}

#form [type="button"]:active{
    background-color: rgba(255, 255, 255, 0.562);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    border: 1px groove #000000;
    color: #000000;
}

@keyframes back {
    0% {
        background: linear-gradient(125deg ,
        #ff0000,
        #cc00ff, 
        #0083fd,
        #00ffea,
        #ff0080);
    }
    20%{
        background: linear-gradient(125deg ,
        #ff0080,
        #ff0000,
        #cc00ff, 
        #0083fd,
        #00ffea);
    }
    40%{
        background: linear-gradient(125deg ,
        #00ffea,
        #ff0080,
        #ff0000,
        #cc00ff, 
        #0083fd);
    }
    60%{
        background: linear-gradient(125deg ,
        #0083fd,
        #00ffea,
        #ff0080,
        #ff0000,
        #cc00ff);
    }
    80%{
        background: linear-gradient(125deg ,
        #cc00ff,
        #0083fd,
        #00ffea,
        #ff0080,
        #ff0000);
    }
    100%{
        background: linear-gradient(125deg ,
        #ff0000,
        #cc00ff,
        #0083fd,
        #00ffea,
        #ff0080);
    }
}